body {
    margin:0 auto !important;
    padding:0 !important;
    font-family:'Inter';
    background-color: #f9f8f4;
    overflow-y: hidden !important;
    overflow-x: hidden !important;
}
h3 {
    font-family:'Montserrat';
    font-weight: bold;
    color: #005f56; 
}
.universal-btn { 
    width:100%;
    background-color: #005f56; 
    color:white;
    border: none;
}
.universal-btn:hover {
    background-color: #01a094;
    color:white;
}
.form-control:focus {
    border-color: black;
    box-shadow: 0 0 0 0.2rem rgba(0,0,0,0.15);
}